/* Estilo general del navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5rem 1rem;
}

/* Contenedor principal */
.navbar-container {
  display: flex;
  justify-content: space-between; /* título a la izquierda, enlaces a la derecha */
  align-items: center;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
}

/* Título */
.nombre {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: white;
  margin: 0;
}

/* Contenedor de enlaces */
.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/* Estilo de cada enlace */
.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #2979db;
}
